.menuHover {
  width: 3rem;
  display: flex;
  align-content: center;
  justify-content: center;
  position: fixed;
  padding: 2.5rem 1rem;
  z-index: 30;
}

.menuButtonLottie {
  width: 1.5rem;
  height: 1.5rem;
  z-index: 10;
}

/* Tablet */
@media only screen and (max-width: 991px) {
  .menuHover {
    padding: 1.5rem 1rem;
  }
}

/* Mobile Horizontal */
@media only screen and (max-width: 767px) {
  .menuHover {
    padding: 0.5rem 0.5rem;
  }
}

/* Mobile Vertical */
@media only screen and (max-width: 478px) {
  .menuHover {
    padding: 0.5rem 0.5rem;
  }
}
