/* Tablet
@media only screen and (max-width: 991px) {}

Mobile Horizontal
@media only screen and (max-width: 767px) {}

Mobile Vertical
@media only screen and (max-width: 478px) {} */

:root {
  --bg-color: #000000;
  --font-color: #dde3ea;
  --light-50-color: #6f7175;
  --light-10-color: #161717;
}

[data-theme='light'] {
  --bg-color: #ffffff;
  --font-color: #000000;
  --light-50-color: #808080;
  --light-10-color: #e5e5e5;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter;
  font-weight: 700;
  background-color: var(--bg-color);
  color: var(--font-color);
}

button {
  font-family: Inter;
  font-weight: 700;
}

form input {
  background-color: transparent;
  border-radius: 0;
  border-width: 0 0 1px 0;
  border-bottom-color: var(--light-50-color);
}

form input:hover {
  border-bottom-color: var(--font-color);
}

form input:focus {
  outline: none;
  -webkit-appearance: none;
  border-bottom-color: var(--font-color);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.container {
  max-width: 90rem;
  margin: auto;
}

.section-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.page-padding {
  padding: 3rem 7rem;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.width-100-percent {
  width: 100%;
}

.text-size-xl {
  font-size: 6.5rem;
}

.text-size-l {
  font-size: 5.625rem;
}

.text-size-m {
  font-size: 3.5rem;
}

.text-size-s {
  font-size: 1.5rem;
}

.text-size-xs {
  font-size: 1.25rem;
}

.text-center {
  text-align: center;
}

.button {
  color: var(--font-color);
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  padding: 0.4rem 1rem;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.light-button {
  color: var(--light-50-color);
}

.round {
  border-radius: 5rem;
}

.circle {
  border-radius: 100%;
  padding: 0.7rem 0.7rem !important;
}

.button:hover {
  background-color: var(--light-10-color);
  color: var(--font-color);
}

/* 
Responsive Breakpoints
>    1440 px : Large Desktop
1440 - 991 px: Desktop
991  - 767 px: Tablet
767  - 478 px: Mobile Horizontal
<    478 px  : Mobile Vertical
*/

/* Tablet */
@media only screen and (max-width: 991px) {
  .lightwayLogo {
    transform: scale(0.9);
  }

  .page-padding {
    padding: 2rem 4rem;
  }

  .text-size-xl {
    font-size: 5.2rem;
  }

  .text-size-l {
    font-size: 4.5rem;
  }

  .text-size-m {
    font-size: 2.8rem;
  }

  .text-size-s {
    font-size: 1.2rem;
  }

  .text-size-xs {
    font-size: 1rem;
  }
}

/* Mobile Horizontal */
@media only screen and (max-width: 767px) {
  .page-padding {
    padding: 1rem 3rem;
  }

  .text-size-xl {
    font-size: 4.2rem;
  }

  .text-size-l {
    font-size: 3.6rem;
  }

  .text-size-m {
    font-size: 2rem;
  }

  .text-size-s {
    font-size: 1rem;
  }

  .text-size-xs {
    font-size: 0.9rem;
  }
}

/* Mobile Vertical */
@media only screen and (max-width: 478px) {
  .lightwayLogo {
    transform: scale(0.72);
  }

  .page-padding {
    padding: 1rem 2rem;
  }

  .text-size-xl {
    font-size: 3.3rem;
  }

  .text-size-l {
    font-size: 2.9rem;
  }

  .text-size-m {
    font-size: 1.4rem;
  }

  .text-size-s {
    font-size: 0.8rem;
  }

  .text-size-xs {
    font-size: 0.7rem;
  }
}
