:root {
  --font-size-xl: 7.5rem;
  --font-size-l: 5.625rem;
  --font-size-m: 3.5rem;
  --font-size-s: 1.5rem;
  --font-size-xs: 1.25rem;

  --bg-color: #000000;
  --font-color: #ffffff;
  --light-50-color: rgba(255, 255, 255, 0.5);
  --light-10-color: rgba(255, 255, 255, 0.1);
}

[data-theme="light"] {
  --bg-color: #ffffff;
  --font-color: #000000;
  --light-50-color: rgba(0, 0, 0, 0.5);
  --light-10-color: rgba(0, 0, 0, 0.1);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter;
  font-weight: 700;
  background-color: var(--bg-color);
  color: var(--font-color);
}

button {
  font-family: Inter;
  font-weight: 700;
}

.pagePadding {
  padding-left: 7rem;
  padding-right: 7rem;
}

.text-size-xl {
  font-size: 7.5rem;
}

.text-size-l {
  font-size: 5.625rem;
}

.text-size-m {
  font-size: 3.5rem;
}

.text-size-s {
  font-size: 1.5rem;
}

.text-size-xs {
  font-size: 1.25rem;
}
