.menuHover {
  width: 3rem;
  display: flex;
  align-content: center;
  justify-content: center;
  position: fixed;
  padding: 3rem 7rem;
  z-index: 30;
}

.menuButtonLottie {
  width: 1.5rem;
  height: 1.5rem;
  z-index: 10;
}

.hidden {
  display: none;
}

/* Tablet */
@media only screen and (max-width: 991px) {
  .menuHover {
    padding: 2rem 4rem;
  }
}

/* Mobile Horizontal */
@media only screen and (max-width: 767px) {
  .menuHover {
    padding: 1rem 3rem;
  }
}

/* Mobile Vertical */
@media only screen and (max-width: 478px) {
  .menuHover {
    padding: 1rem 2rem;
  }
}
