.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.scrollDownTransition {
  transition: opacity 0.5s ease;
}

.jamesVerseWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  margin-top: 3rem;
  max-width: 35ch;
}

.ageWrapper {
  row-gap: 1rem;
}

.visualizeText {
  max-width: 25ch;
}

.ageInputWrapper {
  width: 30%;
  row-gap: 0.5rem;
}

.ageInput {
  width: 100%;
  color: var(--font-color);
  font-family: Inter;
  text-align: center;
}

.ageInput::placeholder {
  color: var(--light-50-color);
}

.doYouThinkText {
  max-width: 18ch;
  margin-bottom: 5rem;
}

.yearAnimationWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  margin-top: 3rem;
}

.yearLabelWrapper {
  width: 100%;
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.yearLabel {
  color: var(--light-50-color);
  transition: color 0.2s ease, transform 0.4s ease-out;
}

.activeYearLabel {
  transform: scale(1.1);
  color: var(--font-color);
}

.asYouGetOlderText {
  margin-top: 5rem;
  max-width: 40ch;
}

.yearBar {
  position: relative;
  height: 1.5rem;
  width: 100%;
  border-radius: 1rem;
  background-color: #8a8da7;
  overflow: hidden;
}

.activeYearBar {
  position: absolute;
  left: 0%;
  height: 100%;
  border-radius: 1rem;
  background-color: #74e0f8;
}

.dontWasteItText {
  max-width: 15ch;
}

.shareMiddle {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3rem;
}

.shareButtonsWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3.5rem;
}

.shareButton {
  border: 2px solid;
  border-color: var(--light-50-color);
  background-color: transparent;
  color: var(--font-color);
  transition: 0.3s all;
  cursor: pointer;
  border-radius: 100%;
  width: 11rem;
  height: 11rem;
}

.shareButton:hover {
  background-color: var(--font-color);
  border-color: var(--font-color);
  color: var(--bg-color);
}

.shareIcon {
  transform: scale(1);
}

/* Tablet */
@media only screen and (max-width: 991px) {
  .shareButtonsWrapper {
    grid-gap: 2rem;
  }

  .shareButton {
    width: 10rem;
    height: 10rem;
  }

  .shareIcon {
    transform: scale(0.9);
  }
}

/* Mobile Horizontal */
@media only screen and (max-width: 767px) {
  .shareButtonsWrapper {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
}

/* Mobile Vertical */
@media only screen and (max-width: 478px) {
  .shareButton {
    width: 8rem;
    height: 8rem;
  }

  .shareIcon {
    transform: scale(0.72);
  }
}
